<!-- Back End 101 July 2015, Week 2 Lecture 2 Homework -->
<!-- MAIN PAGE -->
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<title>
			FoTC
		</title>
	</head>
	<body>
		<div id="wrapper">
			<header class="header">
				<img class="profile-pic" src="images/fotc.png" alt="profile">
				<h1>
					Flight of the Conchords
				</h1>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/snaps">Snaps</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</header>
			<div class="column-1">
				<article>
					<h2>
						Inner City Pressure
					</h2>
					<p>
						Inner city life, inner city pressure<br>
						The concrete world is starting to get ya<br>
						The city is alive, the city is expanding<br>
						Living in the city can be demanding<br>
						You've pawned everything, everything you own<br>
						Your toothbrush jar and a camera phone<br>
						You don't know where you're going<br>
						You cross the street<br>
						You don't know why you did<br>
						You walk back across the street<br>
						Standing in the sitting room, totally skint<br>
						And your favorite jersey is covered in lint<br>
						You want to sit down but you sold your chair<br>
						So you just stand there<br>
						You just stand there<br>
						You just stand there<br>
						<br>
						Inner<br>
						Inner city<br>
						Inner city pressure<br>
						Inner city pressure<br>
					</p>
				</article>
				<br>
				<article>
					<h2>
						Hiphopopotamus Vs. Rhymenoceros
					</h2>
					<p>
						I'm the mother flippin' Rhymenocerous<br>
						My beats are fat and the birds are on my back<br>
						And I'm horny (I'm horny)<br>
						If you choose to proceed you will indeed concede<br>
						'Cause I hit you with my flow<br>
						The Wild Rhino Stampede<br>
						I'm not just wild, I'm trained, domesticated<br>
						I was raised by a rapper and rhino that dated<br>
						And subsequently procreated
						That's how it goes<br>
						Here's the Hip-Hopapotamus<br>
						The hip hop hippo<br>
						<br>
						They call me the Hip-Hopapotamus<br>
						My lyrics are bottomless<br>
					</p>
				</article>
				<br>
			</div>
			<div class="column-2">
				<article>
					<h2>
						Robots
					</h2>
					<p>
						The distant future<br>
						The year 2000<br>
						The distant future<br>
						The year 2000<br>
						The distant future<br>
						The distant future<br>
						<br>
						It is the distant future<br>
						The year 2000<br>
						We are robots<br>
						The world is quite different ever since the robotic uprising of the late 90s.<br>
						There is no more unhappiness.<br>
						Affirmative<br>
						We no longer say 'yes'. Instead we say 'affirmative'.<br>
						Yes - Err - Affirmative.<br>
						Unless we know the other robot really well.<br>
						There is no more unethical treatment of the elephants.<br>
						Well, there's no more elephants, so...<br>
						Well, still it's good.<br>
						There's only one kind of dance,<br>
						The robot<br>
						Well, the robo boogie...<br>
						Oh yes, the robo-<br>
						Two kinds of dances.<br>
					</p>
				</article>
				<br>
				<article>
					<h2>
						Hurt Feelings
					</h2>
					<p>
						Some people say that rappers don't have feelings<br>
						We have feelings (We have feelings)<br>
						Some people say that we are not rappers (We're rappers)<br>
						That hurts our feelings (Hurts our feelings when you say we're not rappers)<br>
						Some people say that rappers are invincible<br>
						We're vincible (We're vincible)<br>
						What you are about to hear are true stories<br>
						(Real experiences)<br>
						Autobiographical raps<br>
						Things that happened to us, all true<br>
						Bring the rhyme<br>
					</p>
				</article>
				<br>
			</div>
			<footer class="footer">
				<ul>
					<li><a href="http://www.facebook.com/FlightoftheConchords" target="_blank"><img class="fb-icon" src="images/facebook.png" alt="facebook"></a></li>
					<li><a href="http://twitter.com/fotc" target="_blank"><img class="twit-icon" src="images/twitter.png" alt="twitter"></a></li>
					<li><a href="https://www.youtube.com/results?search_query=flight+of+the+conchords" target="_blank"><img class="yt-icon" src="images/youtube.png" alt="youtube"></a></li>
				</ul>
				<br>
			</footer>
		</div>
	</body>
</html>