<!-- Back End 101 July 2015, Week 2 Lecture 2 Homework -->
<!-- SUCCESS PAGE - only shows when contact form POST request is submitted -->
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
		<title>
			FoTC
		</title>
	</head>
	<body>
		<div id="wrapper">
			<header class="header">
				<img class="profile-pic" src="../images/fotc.png" alt="profile">
				<h1>
					Flight of the Conchords
				</h1>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/snaps">Snaps</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</header>
			<div class="mailing-list">
				<br>
				<div>
					Email received. Thank you!
				</div>
				<br>
  				<br>
			</div>
			<footer class="footer">
				<ul>
					<li><a href="http://www.facebook.com/FlightoftheConchords" target="_blank"><img class="fb-icon" src="../images/facebook.png" alt="facebook"></a></li>
					<li><a href="http://twitter.com/fotc" target="_blank"><img class="twit-icon" src="../images/twitter.png" alt="twitter"></a></li>
					<li><a href="https://www.youtube.com/results?search_query=flight+of+the+conchords" target="_blank"><img class="yt-icon" src="../images/youtube.png" alt="youtube"></a></li>
				</ul>
				<br>
			</footer>
		</div>
	</body>
</html>